:root {
  --color-darkest: #343a40;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-light: #f1f3f5;

  --color-theme: #1098ad;
  --color-accent: #ffa94d;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #36454f;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

.btn-option {
  width: 100%;
  text-align: left;
}

.btn-option.correct {
  background-color: var(--color-theme);
  border: 2px solid whitesmoke;
  color: #fff;
}
.btn-option.wrong {
  background-color: var(--color-accent);
  border: 2px solid whitesmoke;
  color: black;
}

.answer {
  transform: translateX(2rem);
}

.timer {
  /* float: left; */
  font-size: 1.01rem;
  color: var(--color-medium);
  border: 2px solid var(--color-dark);
  padding: 1.01rem 1.2rem;
  border-radius: 100px;
}

.timer-hiden {
  display: none;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: var(--color-light);
}

.icons {
  font-size: 1.8rem;
  color: var(--color-light);
  cursor: pointer;
}

.icons:hover {
  color: var(--color-theme);
}

.correct-result {
  color: var(--color-medium);
}

.height {
  height: 100vh;
}

.result {
  /* background-color: var(--color-theme); */
  color: var(--color-theme);
  /* border-radius: 100px;
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem; */
}